*{
    margin:1;
    padding:0;
    box-sizing:border-box;
}

:root{
--backgroun-colorlight: rgb(255, 247, 237);
--background-colordark: rgba(233, 170, 88, 0.68);
--text-colordark: grey;
--text-colorlight: whitesmoke;
--font-family: 'Roboto', Arial, sans-serif;
--background-colorsection: rgb(45, 45, 81);
}
body, h2, section, p{
    font-family: var(--font-family)
}
body{
    height: 100%;
    margin:0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.8rem;
}
@media (max-width: 2000px) {
    .parallax-img, .parallax-img2, .parallax-img3,.parallax-img4 {
        background-attachment: scroll;
        
    }
}
 .parallax-img{
background-image: url("https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.parallax-img2{
    background-image: url("https://images.unsplash.com/photo-1497888329096-51c27beff665?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.parallax-img3{
    background-image: url("https://images.unsplash.com/photo-1529411081224-84ac0d0bf6ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.parallax-img4{
    background-image: url("https://images.unsplash.com/photo-1495214783159-3503fd1b572d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.parallax-img, .parallax-img2, .parallax-img3,.parallax-img4 {
    height: 50em;
    min-height: 100%;
    justify-content: center;
    background-position:center;
    background-repeat: no-repeat;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    z-index:1;
    display:grid;
    background-size: cover;
    opacity: 0.70;

}
.text1, .text2, .text3, .text4 {
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    color: var(--text-colorlight);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    justify-content: center;
    z-index:2;

}
.text1 .border-dark, .text4 .border-dark {
    background-color: var(--background-colordark);
    color: var(--text-colorlight);
    padding: 20px;
}
.text2 .border-trans, .text3 .border-trans {
    background-color: transparent;
    color: var(--text-colorlight);
    padding: 20px;
}
h2, p{
    font-family: var(--font-family);
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 0.5em;
}
p{
    font-weight: lighter;
    text-align: justify;
}
.section-light, .section2-dark, .section3-dark{
    text-align:center;
    padding: 50px 80px;
    display:block;
}

.section-light{
    background-color: var(--backgroun-colorlight);
    color: var(--text-colordark);
    z-index:3;
 } 
 .section2-dark, .section3-dark{
    background-color: var(--background-colorsection);
    color: var(--text-colorlight);
    z-index:3;
}  